/cmake-build-relwithdebinfo/
/x64-Debug/
/cmake-build-release/
/cmake-build-debug/
/.vs/
/.idea/
/lighting-system-readme.md
/build/
/build/CMakeFiles/
/x64-Release/
/kappashader/
/DerivativeMain/
/Iris-26.1/
/legacyshaders/
/cmake-build-package/
/cmake-build-package-ninja/
/cmake-build-package-release/
/assets/resourcepacks/
