/cmake-build-*/
/.cache/
/third_party/fidelityfx_fsr31/generated/vk/*.d
/compile_commands.json
/imgui.ini
/model_scene_imgui.ini
/saves/
/cmake-build-relwithdebinfo/
/x64-Debug/
/cmake-build-release/
/cmake-build-debug/
/.vs/
/.idea/
/lighting-system-readme.md
/build/
/build/CMakeFiles/
/x64-Release/
/kappashader/
/DerivativeMain/
/Iris-26.1/
/legacyshaders/
/cmake-build-package/
/cmake-build-package-ninja/
/cmake-build-package-release/

# Local unpacked block texture packs used for rendering tests.
/assets/textures/blocks/
/assets/textures/blocks_bak/
/github-pat.txt
